---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card";
---

<Layout title="Matheus Bastos Lemos Portfolio - About me">
    <main>
        <Card>
            <h1 class="text-4xl font-black mb-10 underline font-custom-sans text-white">About me</h1>
            <p class="text-3xl font-light text-off-white">I’m a Computer Engineer motivated by Software
                Engineering.</p>
            <br />
            <p class="text-3xl font-light text-off-white">My knowledge consists of:</p>
            <br />
            <ul class="list-disc ml-12">
                <li class="text-3xl font-light text-off-white">Node.JS</li>
                <li class="text-3xl font-light text-off-white">Web Development</li>
                <li class="text-3xl font-light text-off-white">Databases</li>
                <li class="text-3xl font-light text-off-white">Rust</li>
                <li class="text-3xl font-light text-off-white">Embedded Systems</li>
                <li class="text-3xl font-light text-off-white">Docker</li>
            </ul>
        </Card>
    </main>
</Layout>
