---
import NavBar from "../components/NavBar";
import Footer from "../components/Footer";
import pkgJson from "../../package.json";

export interface Props {
    title: string;
}

const { title } = Astro.props as Props;
const activePath = new URL(Astro.url.pathname, Astro.site).pathname;
const GA_ID = import.meta.env.GA_ID;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/x-icon" href="/favicon.ico" />
        <link
            href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Lato:wght@300;400;700;900&display=swap"
            rel="stylesheet"
        />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
            async
            src={`https://www.googletagmanager.com/gtag/js?id=${GA_ID}`}
        ></script>
        <script define:vars={{ GA_ID }}>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", GA_ID);
        </script>
        <title>{title}</title>
    </head>

    <body>
        <div class="h-screen overflow-auto ml-24 bg-gray-light">
            <NavBar activePath={activePath || ""} />
            <slot />
            <Footer version={pkgJson.version} />
        </div>
    </body>
</html>
